JAVA_HOME="/usr/lib/jvm/jdk1.8.0_131" # Your JAVA_HOME absolute path
GEMINI_API_KEY=""
OPENAI_API_KEY=""
MODEL_PATH="gpt-3.5-turbo"
VERBOSE_MODE="False"

# Possible values for MODEL_PATH:
# "gemini-2.5-flash" for Gemini 2.5 Flash
# "gpt-3.5-turbo" for OpenAI GPT-3.5
# "deepseek-ai/deepseek-coder-6.7b-instruct" for DeepSeek Coder 6.7B Instruct